#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}

@font-face {
    font-family: 'Venti CF';
    src: url('/src/assets/fonts/VentiCF-Black.woff2') format('woff2'),
        url('/src/assets/fonts/VentiCF-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Venti CF';
    src: url('/src/assets/fonts/VentiCF-Light.woff2') format('woff2'),
        url('/src/assets/fonts/VentiCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Venti CF';
    src: url('/src/assets/fonts/VentiCF-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/VentiCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Venti CF';
    src: url('/src/assets/fonts/VentiCF-Thin.woff2') format('woff2'),
        url('/src/assets/fonts/entiCF-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Venti CF';
    src: url('/src/assets/fonts/VentiCF-Medium.woff2') format('woff2'),
        url('/src/assets/fonts/VentiCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
